%tr
  %td.name
    = link_to preview_student_path(student), remote: true do
      #{student.last_name}, #{student.first_name}
  %td.actions
    - if student.has_parents?
      = link_to "New Update", new_student_message_path(student), remote: true
      = link_to "Edit Parent Contacts", edit_student_path(student), remote: true
    - else
      = link_to "Add a Parent Contact", new_student_parent_path(student), remote: true