- @second_tier_page_class = 'edit_student'

- content_for :secondary_title do
  %h3= @student.full_name

%section.student_parents_edit{data: {behavior: "expandable"}}
  %header
    %h3 #{@student.first_name}'s Parents (#{@student.parents.count})
    .circle_icon_nav.add_parent
      = link_to "#", "data-expander" => true do
        .circle_icon
          %i.icon-plus.icon-black
        %span Add contact details for a new parent
  %ol.parents#parents
    - @student.parents.each do |parent|
      = render "shared/parents/parent", parent: parent
    %li.parent.hide#new_parent{"data-expansion" => true}
      = render "new_parent", student: @student