- @second_tier_page_class = 'edit_student'

- content_for :secondary_title do
  %h3= @student.full_name

= render_flash

%section.student_parents_edit
  %header
    %h3 #{@student.first_name}'s Parents
    .circle_icon_nav.add_parent
      = link_to new_student_parent_path(@student), remote: true do
        .circle_icon
          %i.icon-plus.icon-black
        %span Add contact details for a new parent
  %ol.parents#parents
    - @student.parents.each do |parent|
      %li.parent{id: "parent_#{parent.id}"}
        = render "shared/parents/parent", student: @student, parent: parent