- @second_tier_page_class = 'student_preview'

- content_for :secondary_title do
  %h3= link_to @student.full_name, student_messages_path(@student)
  = render "shared/student_edit_nav", student: @student

= render "shared/student_stats", student: @student

= render "shared/recent_messages", student: @student

%p.next_steps
  - if @student.messages.count > 0
    = link_to "See more of #{@student.first_name}'s updates", student_messages_path(@student)
    or
  = link_to "Send #{@student.first_name} a new update", new_student_message_path(@student), class: "", remote: true