- @second_tier_page_class = 'student_preview'

- content_for :secondary_title do
  %h3= link_to @student.full_name, student_messages_path(@student)
  = render "shared/students/edit_nav", student: @student

= render "shared/students/stats", student: @student

= render "shared/messages/recent", student: @student

= render "shared/messages/next_steps", student: @student