- @second_tier_page_class = 'student_preview'

- content_for :secondary_title do
  %h3= link_to @student.full_name, student_messages_path(@student)
  = render "shared/students/edit_nav", student: @student

= render "shared/students/stats", student: @student

= render "shared/messages/recent", student: @student

%p.next_steps
  - if @student.messages.count > 0
    = link_to "More Updates", student_messages_path(@student)
  - if @student.messages.count > 0 && @student.has_parents?
    &middot;
  - if @student.has_parents?
    = link_to "New Update", new_student_message_path(@student), remote: true