.message_container
  .message
    = link_to preview_student_path(message.student), remote: true do
      %span.student= message.student.full_name
      %span.message_body= "- #{message.body}"
  %time= time_or_date_format(message.created_at)