.event_container.new_message
  %header
    .subject
      - if event.message.individual?
        #{second_or_third_person(event.message.user).titleize} sent an update for #{link_to(event.message.students.first.full_name, preview_student_path(event.message.students.first), remote: true)}
      - else
        #{second_or_third_person(event.message.user).titleize} sent an update for All Students
    %time= time_or_date_format(event.time)
  .event_body= event.message.body