.current_contact
  %p
    %span.preference #{parent.preference.capitalize}:
    #{parent.current_contact}
  %p
    = link_to 'Edit Contact', edit_student_parent_path(student, parent), remote: true
    |
    - if parent.spanish_speaking?
      = link_to 'Disable Spanish Translation', toggle_translation_student_parent_path(student, parent), remote: true, method: :post
    - else
      = link_to 'Enable Spanish Translation', toggle_translation_student_parent_path(student, parent), remote: true, method: :post
    |
    = link_to 'Remove', student_parent_path(student, parent), remote: true, method: :delete, confirm: "Are you sure you want to delete this parent's contact details?", class: "remove"