.current_contact
  %span.preference #{parent.preference.capitalize}:
  #{parent.current_contact}
.actions
  This parent's communication preference is <b>#{parent.preference}</b>.
  <br />
  #{link_to "Edit", edit_student_parent_path(student, parent), remote: true}
  |
  #{link_to "Remove", student_parent_path(student, parent), remote: true, method: :delete, confirm: "Are you sure you want to delete this parent's contact details?", class: "remove"}