.new_message_container{data: {behavior: "text_length_limit", limit: 300, show_countdown_at: 250, warn_at: 270}}
  = form_for(message, remote: true, html: {data: {"close-on-success" => true, "no-second-tier" => true}}) do |f|
    = f.hidden_field :user_id
    - message.students.each do |student|
      = hidden_field_tag "message[student_ids][]", student.id
    .inner_box
      - if message.requires_translation?
        .translation_note.alert.alert-warn= message_translation_note(message)
      = f.text_area :body, placeholder: message_placeholder(message), data: {limited_input: true, behavior: "autogrow"}, autofocus: true
    %footer.clearfix
      .choices{style: "float: left;"}
        = f.submit "Send this Message", class: "btn btn-success btn-small", disable_with: "Sending..."
        or
        = link_to "Cancel", "#", data: {dismiss: "modal"}
      .limit_countdown{style: "display: none", "data-countdown" => true}
    .alert.limit_exceeded{style: "display: none", "data-length-exceeded" => true}
      %p We recommend keeping updates to 300 characters or less. (#{why_limit_length_link})