%tr.message_container
  %td.message
    %span.to= student_name_for_message(message)
    %span.message_body= "- #{message.body}"
    %span.from= "- #{second_or_third_person(message.user).titleize}"
  %td.time= time_or_date_format(message.created_at)
  %td.status
    - if message.checked?
      .circle_icon.green
        %i.icon-ok.icon-white