%h3 Sign in to <strong>Update Me</strong>
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
  = form.text_field :email, placeholder: "Email", autofocus: true
  = form.password_field :password, placeholder: "Password"
  = form.label :remember_me do
    = form.check_box :remember_me
    Remember me?
  .actions
    = form.submit "Sign In", class: "btn btn-success"
