- @second_tier_page_class = 'new_message'

- content_for :secondary_title do
  %h3 New Update for #{@student.full_name}

- if @student.has_parents?
  .new_message_container
    = form_for([@student, @message], url: student_messages_path(@student), remote: true, html: {data: {"close-on-success" => true}}) do |f|
      = @message.errors.full_messages.to_sentence
      = f.hidden_field :user_id
      .inner_box
        = f.text_area :body, placeholder: "Write an update to #{@student.first_name}'s parents...", data: {"message-field" => true}
      .choices
        = f.submit "Send this Message", class: "btn btn-success btn-small"
        or
        = link_to "Cancel", select_user_students_path(current_user), remote: true
- else
  Brian has no parents! You should probably add some.

= render "shared/recent_messages", student: @student