%section
  %header
    %h3 How can the parent be contacted?
  = form_for([student, parent], remote: true) do |form|
    %p <b>Provide one or both:</b>
    = form.label :email, "Email"
    = form.text_field :email, placeholder: "Email"
    = form.label :phone, "Phone"
    = form.text_field :phone_area_code, class: 'span1', maxLength: 3
    = form.text_field :phone_three_digits, class: 'span1', maxLength: 3
    = form.text_field :phone_four_digits, class: 'span1', maxLength: 4
    %p <b>The parent's communication preference:</b>
    = form.label :preference_email, class: "radio" do
      = form.radio_button :preference, 'email'
      Email
    = form.label :preference_phone, class: "radio" do
      = form.radio_button :preference, 'phone'
      Phone
    .choices
      = form.submit class: "btn btn-small", disable_with: "Saving..."
      or
      = link_to "Cancel", edit_student_path(student), remote: true