!!!
%html
  %head
    %meta{:charset => "utf-8"}

    %title= content_for?(:title) ? yield(:title) : "App_Name"

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
      
    = stylesheet_link_tag "application", :media => "all"

    /[if lt IE 9]
      %script{:src => "https://html5shim.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}
    
    = csrf_meta_tags

    = yield(:head)

  %body
    .container
      .row
        .span8
          .main
            = yield
        .span4
          .aside
            = yield(:aside)

      = link_to "new update", select_user_students_path(current_user), remote: true, class: 'student_selector_link'
      = link_to "Home", root_path
    :javascript
      window.App = {}
    = javascript_include_tag "application"