!!!
%html
  %head
    %meta{:charset => "utf-8"}

    %title= content_for?(:title) ? yield(:title) : "App_Name"

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
      
    = stylesheet_link_tag "application", :media => "all"

    /[if lt IE 9]
      %script{:src => "https://html5shim.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}
    
    = csrf_meta_tags

    = yield(:head)

  %body
    .container#outer
      %header
      .container#inner
        %nav.top_nav
          = link_to "New Update", select_user_students_path(current_user), remote: true, class: "nav_new_update"
          = link_to "Recent Activity", root_path, class: "nav_recent_activity"
          = link_to "Archive", user_messages_path(current_user), class: "nav_updates"
          = link_to "Students", "#", class: "nav_students"
        .row
          .span8
            .main
              .alert_container
              = content_for?(:content) ? yield(:content) : yield
          .span4
            .aside
              = yield(:aside)
    :javascript
      window.App = {}
    = javascript_include_tag "application"