!!!
%html
  %head
    = render "layouts/head"

  %body
    %header
      .container
        = link_to "UpdateOwl", root_path, class: "brand"
        %ul.menu.main_menu.unstyled
          %li
            = link_to select_user_students_path(current_user), remote: true, class: "new_update" do
              .circle_icon.green
                %i.icon-edit.icon-white{style: "margin-top: 1px;"}
              %span{style: "margin-left: 3px;"} Update
          %li= link_to "Students", user_students_path(current_user)
        .search
          = text_field_tag("autocomplete", nil, data: {behavior: "autocomplete autocomplete_selectable_link", source: global_autocomplete_data_for_students(current_user.students)}, placeholder: "Jump to a student...", class: "span3")
        %ul.menu.personal_menu.unstyled
          %li= link_to "Support", "#"
          %li= link_to current_user.professional_name, user_messages_path(current_user)
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Logout", destroy_user_session_path, method: :delete
    .container#inner
      .row
        .span8
          .main
            .alert_container
            = yield
        .span4
          .aside
            = yield(:aside)

  = render "layouts/javascript"