!!!
%html
  %head
    = render "layouts/head"

  %body.devise
    .container
      = render_flash
      .left_panel
        = yield :left_panel if content_for?(:left_panel)
      .right_panel
        = yield

  = render "layouts/javascript"