!!!
%html
  %head
    = render "layouts/head"

  %body.devise
    .container
      = render_flash

      .devise_box
        = yield
        
      = render "devise/shared/links"

  = render "layouts/javascript"