!!!
%html
  %head
    %meta{:charset => "utf-8"}

    %title Sign in to Update Me

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => ""}
      
    = stylesheet_link_tag "application", :media => "all"

    /[if lt IE 9]
      %script{:src => "https://html5shim.googlecode.com/svn/trunk/html5.js", :type => "text/javascript"}
    
    = csrf_meta_tags

    = yield(:head)

  %body.devise
    .container
      = render "shared/flash", flash: flash

      .devise_box
        = yield
        
      = render "devise/shared/links"