!!!
%html
  %head
    = render "layouts/head"

  %body.devise
    .container
      = render_flash
      .left_panel
        = yield :left_panel if content_for?(:left_panel)
      .right_panel
        = yield
      :erb
        <p style="text-align: center; margin-top: 300px; clear: both;">
          <a href="https://mixpanel.com/f/partner"><img src="https://cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </p>

  = render "layouts/javascript"